@import url('https://fonts.googleapis.com/css?family=Arsenal|Sacramento');

.app-body {
    font-family: 'Arsenal', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 75%;
    padding: 0 1em;
    margin: 5% auto;
}

.body-left {
    margin: auto;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 550px;
    padding-left: 1%;
}

.witch-cafe-logo {
    margin: auto;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.body-left-item {
    padding: 1em;
    margin: auto;
    text-align: center;
    min-width: 150px;
}



.body-right {
    margin: auto;
    max-width: 550px;
}

.body-title-head {
    font-family: 'Sacramento', cursive;
    font-size: 200%;
}

.artists {
    display: flex;
    flex-wrap: wrap;
}

.artist {
    margin: auto;
    max-width: 150px;
}


.releases {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.release {
    margin: auto;
    max-width: 150px;
}